[Desktop Entry]
Exec=kscreen-doctor output.1.rotation.right
Name=kscreen-doctor output.1.rotation.right
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
